= simple_form_for :user, :html => {:novalidate => true} do |f|
  = adminv_container :width => :with_sidebar do |container|
    = container.table do |table|
      = table.header "Users"
      .table
        .header-group
          .row
            .col= f.check_box :action
            .col ID
            .col First Name
            .col Last Name
            .col Email
            .col Username
            .col &nbsp;
        =# empty_row @releases, "releases"
        .row-group
          - (1...25).to_a.each do |index|
            .row
              .col= f.check_box :action
              .col= index
              .col= Faker::Name.first_name
              .col= Faker::Name.last_name
              .col= Faker::Internet.email
              .col= Faker::Internet.user_name
              .col.actions
                = button_group do
                  = pill_button_link_to "Show", "#", :title => "show", :target => "_blank"
                  = pill_button_link_to "Edit", "#", :title => "edit"
                  = negative_pill_trash_button_link_to "Delete", "#", :title => "destroy", :method => :delete, :confirm => "Are you sure?"

      .block-controls
        %ul.block-actions
          = f.input :age, :collection => ['Delete', 'Publish'], :prompt => "Select an action...", :label => false
    
        %nav.block-pagination
          %ul
            %li= link_to "&laquo;".html_safe, "#"
            %li= link_to "1", "#"
            %li= link_to "2", "#", :class => "active"
            %li= link_to "3", "#"
            %li= link_to "4", "#"
            %li= link_to "5", "#"
            %li= link_to "6", "#"
            %li= link_to "&raquo;".html_safe, "#"