= simple_form_for :user, :html => {:novalidate => true} do |f|
  = adminv_container do |container|
    = container.content do |content|
      %p 
        Adminv has been developed using '[simple_form](https://github.com/plataformatec/simple_form)' to handle it's forms. Adminv will in future be form builder agnostic but for now its best to use [simple_form](https://github.com/plataformatec/simple_form) and be sure to set `config.wrapper_tag = :li` in `config/initalizers/simple_form.rb`.
      %ul
        = f.input :xsmall, :input_html => {:class => "xsmall"}, :label => "Extra small"
        = f.input :small, :input_html => {:class => "small"}, :disabled => true
        = f.input :medium, :input_html => {:class => "medium error"}
        = f.input :large, :input_html => {:class => "large"}
        = f.input :xlarge, :input_html => {:class => "xlarge"}
        = f.input :date, :label => "Date", :order => [:day, :month, :year], :as => :date, :start_year => 1997, :end_year => Date.today.year + 2
        = f.input :description, :as => :text
        = f.collection_check_boxes :options, [[true, 'Yes'] ,[false, 'No']], :first, :last, :label => "what"
        = f.input :age, :collection => 18..60, :prompt => "Choose an age"
        = f.collection_radio :options, [[true, 'Yes'] ,[false, 'No']], :first, :last
        = f.input :Upload, :hint => "(This is a hint)"

  = sidebar_right :test