- title "Users", "Manage"

- content_for :sidebar_left do
  = add_button_link_to "New User", "#"

.block-form
  = adminv_container do |container|
    = container.content "Forms" do |content|
      = content.header ""
      = simple_form_for :user, :html => {:novalidate => true} do |f|
        %p 
          Adminv has been developed using '[simple_form](https://github.com/plataformatec/simple_form)' to handle it's forms. Adminv will in future be form builder agnostic but for now its best to use [simple_form](https://github.com/plataformatec/simple_form) and be sure to set `config.wrapper_tag = :li` in `config/initalizers/simple_form.rb`.
        %ul
          = f.input :xsmall, :input_html => {:class => "xsmall"}, :label => "Extra small"
          = f.input :small, :input_html => {:class => "small"}, :disabled => true
          = f.input :medium, :input_html => {:class => "medium error"}
          = f.input :large, :input_html => {:class => "large"}
          = f.input :xlarge, :input_html => {:class => "xlarge"}
          = f.input :date, :label => "Date", :order => [:day, :month, :year], :as => :date, :start_year => 1997, :end_year => Date.today.year + 2
          = f.input :description, :as => :text
          = f.collection_check_boxes :options, [[true, 'Yes'] ,[false, 'No']], :first, :last, :label => "what"
          = f.input :age, :collection => 18..60, :prompt => "Choose an age"
          = f.collection_radio :options, [[true, 'Yes'] ,[false, 'No']], :first, :last

          = f.input :Upload, :hint => "(This is a hint)"

    = container.table "Accordions" do |table|
      = table.header ""
      .table.accordion
        .header-group
          .row
            .col ID
            .col First Name
            .col Last Name
            .col Email
            .col Username
            .col &nbsp;
        .row-group
          - (1...10).to_a.each do |index|
            .row
              .col= index
              .col= Faker::Name.first_name
              .col= Faker::Name.last_name
              .col= Faker::Internet.email
              .col= Faker::Internet.user_name
              .col.actions
                = button_group do
                  = edit_button_link_to "Edit preview", "#", :class => "accordion-toggle"
                  =# remove_row("#")
              .details
                %ul.table
                  %li This is an accordion aaaight!!
        .footer-group
          .row
            .col Col 1
            .col Col 2
            .col Col 3
            .col Col 4
            .col Col 5
            .col Col 6

  
    = container.table "Sortable" do |table|
      = table.header ""
      .table.sortable.accordion
        .header-group
          .row
            .col Order
            .col First Name
            .col Last Name
            .col Email
            .col Username
            .col &nbsp;
        .row-group
          - (1...10).to_a.each do |index|
            .row
              .col.sort-handle
              .col= Faker::Name.first_name
              .col= Faker::Name.last_name
              .col= Faker::Internet.email
              .col= Faker::Internet.user_name
              .col.actions
                = button_group do
                  = pill_button_link_to "Show", "#", :title => "show", :target => "_blank"
                  = pill_button_link_to "Edit", "#", :title => "edit"
                  = negative_pill_trash_button_link_to "Delete", "#", :title => "destroy", :method => :delete, :confirm => "Are you sure?"
      .block-controls
        .block-actions
          =# add_row(f, :tracks, :form_builder_local => :form, :label => "Add new track", :object => @release.tracks.build, :target => "#track-listing.table .row-group")

    = container.table "Sortable Accordions" do |table|
      = table.header ""
      .table.accordion.sortable
        .header-group
          .row
            .col Order
            .col First Name
            .col Last Name
            .col Email
            .col Username
            .col &nbsp;
        .row-group
          - (1...10).to_a.each do |index|
            .row
              .col.sort-handle
              .col= Faker::Name.first_name
              .col= Faker::Name.last_name
              .col= Faker::Internet.email
              .col= Faker::Internet.user_name
              .col.actions
                = button_group do
                  = edit_button_link_to "Edit preview", "#", :class => "accordion-toggle"
                  =# remove_row("#")
              .details
                %ul.table
                  %li This is an accordion aaaight!!

= render :partial => "sample/examples/table_basic"

