<%- if defined?(Menumatic) -%>
	<%= render :navigation => "admin", :level => :primary, :id => "site-menu" %>
	<%= render :navigation => "user", :id => "settings-menu" %>
<%- else -%>
  <ul class="navigation admin active level_1 depth_1" id="site-menu">
    <li class="active"><%= link_to "Block", root_path%></li>
    <li class="inactive"><%= link_to "Forms", sample_edit_path %></li>
    <li class="inactive"><%= link_to "Log-in", "sample_login_path" %></li>
  </ul>
  <ul class="navigation user inactive level_1 depth_1" id="settings-menu">
    <li class="account"><%= link_to "Account", "javascript:void(0)" %></li>
    <li class="settings"><%= link_to "settings", "javascript:void(0)" %></li>
    <li class="logout"><%= link_to "Sign out", "javascript:void(0)" %></li>
  </ul><!-- #settings-menu -->
<%- end -%>