- if ['index', 'archived'].include? controller.action_name
  = adminv_container :width => :sidebar, :class => 'sidetabs' do |container|
    = container.content do |content|
      - if content_for? :subtitle
        %h3= yield :subtitle
      
      =# render :navigation => 'admin', :level => :secondary
      .actions
        = yield :sidebar_left
        = add_button_link_to "New User", "#"
